@import "tailwindcss";
@plugin "daisyui";

:root {
  background-color: azure;
  color: black;
  margin: 0;
}

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00c6ff;
  --color-secondary: #00ffff;
} */